:root{
    --antonGray: rgb(35,35,35);
}
footer{
    background-color: lightslategray;
    height: 200px;
    margin-top: auto;
}

html {
    max-width: 1200px;
    max-height:840px;
}

body {
    margin: 0;
    background-color: var(--antonGray);
    display: flex;
    flex-direction: column;
}
p {
    color: white;
}

h1 {
    color: white;
}

.StartButton {
    min-width: 300px;
    min-height: 150px;
    border-color: black;
    font-size: xxx-large;
    border-radius: 20px;
}

.BackButton {
    min-width: 300px;
    min-height: 100px;
    background-color: rgb(189,189,189);
    margin: 3%;
    font-size: xx-large;
}

#homeButtonDiv {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    min-height: 100px;
}

#kitchenButton {
    background-image: linear-gradient(to bottom, rgb(100, 215, 115), white );
}
#bookingsButton {
    background-image: linear-gradient(to bottom, rgb(255, 138, 0), white );
}
#orderingButton {
    background-image: linear-gradient(to bottom, rgb(161, 215, 233), white );
}

#startImage {
    width: 100%;
}

#versionText {
    margin: 3%;
    color: white;
    font-family: fantasy;
    font-size: large;
    text-decoration: underline;

}

#kitchenOverviewContent {
    width: 94%;
    min-height: 550px;
    border-style: solid;
    border-color: white;
    margin: 3%;
}

#kitchenOverviewBack {
    width: 94%;
    margin: 3%;
    border-style: solid;
    border-color: white;
}

/* William css */
#wrapper{
    display: flex;
}
.orderWrap{
    background-color: black;
    width: 550px;
    height: auto;
    max-height: 600px;
    padding: 40px;
    margin: 25px;
}
.doneWrap{
    margin: 25px;
    width: 550px;
    height: 600px;
    background-color: black;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display:flex;
}
#addingWrap{
    width: 1200px;
    height: auto;
    background-color: black;
    text-align: center;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 2fr));
    gap: 10px;
    margin: 10px;
}

#delete{
    background-color: darkred;
}
#customize{
    background-color: darkgoldenrod;
}
#add_food{
    background-color: darkgreen;
}
#add_drink{
    background-color: dodgerblue;
}
.buttons{
    width: 100px;
    height: 30px;
}
#tableDiv{
    margin-top: 30px;
    background-color: lightslategray;
    width: 70px;
    height: auto;
    padding: 5px;
}
.listedItems{
    background-color: ghostwhite;
    width: 500px;
    border: solid black 2px;
}
.orderDesc{
    margin-left: 0;
    margin-right: 50px;
}

#doneBtn{
    background: darkblue;
}
#add_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.meat{
    background-color: red;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}
.salad{
    background-color: lawngreen;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}
.soup {
    background-color: saddlebrown;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}
.daily{
    background-color: aliceblue;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}
.alcohol{
    background-color: red;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}
.water{
    background-color: deepskyblue;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}
.soda{
    background-color: darkorange;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}
.nothing{
    background-color: aliceblue;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
}

